body{
    height: 100%;
    margin: 0px;
    font-family:Arial;
    overflow: scroll;
}
.companyName{
    flex: 20%;
    margin: 8px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
}
#general{
    width: 80%;
    margin: 0 auto;
}
.menuBar{
    top: 0;
    left:0;
    right: 0;
    position: fixed;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
}
.headerList{
  align-self: flex-end;
}
.headerList li {
    padding: 8px;
    display:inline;
}
li.navigation__item:nth-child(5){
    border: 1px solid rgb(58, 132, 216);
    border-radius: 5px;
}
a.navigation__link{
    color:black;
    text-decoration:none;
}
a{
    text-decoration:none;
}
div.mainContent{
    margin-top: 120px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
p.mainContent,h1.mainContent{
    margin: 0% 25%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 160%;  
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 5% 0%;
    flex: 1;
    border-bottom:1px solid rgb(224, 218, 218);
}
section{
    border-radius: 4%;
    border: 1px solid rgb(241, 237, 237);
    text-align: center;
    flex-basis: 25%;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
div.itemContent,button{
    padding: 5%;
}
.headLine{
    background-color: rgba(191, 193, 194, .2);
    font-size:135%;
    padding: 10px;
    border:1px solid rgb(235, 239, 241);
    border-radius: 5px 5px 0px 0px;
}
button{
    width: 90%;
    color: white;
    background-color:rgb(51, 112, 182);
    border: 1px solid rgb(51, 112, 182);
    border-radius: 5px;
    font-size: 16px;
    transition-duration: .3s;
    
}
button:hover {
    background-color: white;
    color:rgb(51, 112, 182);
}
footer {
    margin: 0 -5%;
    width: 110%;
    display: flex;
    height: auto;
}
div.footerBlock{
    margin: 5%;
    flex-basis: 25%;
}
ul.footerBlock{
    list-style-type: none;
    padding-inline-start: 0px;
    color: grey;
    line-height: 25px;
}
